<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
    {% block title %}Flasky{% endblock %}
</head>
<body>
    {% block page_content %}
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="page-header">
            <h1>Hello,{{ name|capitalize }}!</h1>
            <h2>{{ user.username }}</h2>
            {% if user.name or user.location %}
            <p>
                {% if user.name %}{{ user.name }}{% endif %}
                {% if user.location %}
                    From <a href="'http://maps.goole.com/?q={{ user.location }}">
                        {{ user.location }}
                    </a>
                {% endif %}
            </p>
            {% endif %}
            {% if current_user.is_administrator() %}
            <p>
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                Member since {{ moment(user.member_since).format('L') }}.
                Last seen {{ moment(user.last_seen).fromNow() }}.
            </p>
            {% if user==current_user %}
            <a class="'btn btn-default" href="{{ url_for('.edit_profile') }}">
               Edit Profile</a>
            {% if current_user.is_administrator() %}
                <a class="btn btn-danger"
                        href="{{ url_for('.edit_profile_admin', id=user.id) }}">
                        Edit Profile [Admin]
                </a>
            {% endif %}
        <h3>Posts by {{ user.username }}</h3>
        {%  include '_posts.html' %}
        </div>
    {% endblock %}
</body>
</html>